/* Jason Akers*/

/*General Styles*/

body{
    font-family: Arial, Helvetica, Serif;
    background-image: url(../light-veneer.png);
}

h1{
    color:#FDF3E7; 
}

h2{
    color:#7E8F7C;
    padding: 5px;
    text-indent: 40px;
}

li{
    margin-left: 40px;
    list-style: square;
    font: Arial;
    font-weight: bold;
    
}

p{
    margin-left:65px;
    margin-right:50px;
    font: Arial;
    font-weight: bold;
}

img.prof{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #C63D0F;
    border-radius: 2px;
}

/* Page Styles*/

#one{
    color: gainsboro;
    text-decoration: none;
}

a.two{
    color: darkcyan;
    text-decoration: none;
}
a.two:hover{
    text-decoration:underline;
}
a.two:visited{
    color:darkmagenta;
    text-decoration: underline;
}

a.three{
    color:#fff;
    font: Arial;
    text-decoration: none;
}
a.three:hover{
    color:aqua;
    text-decoration: underline;
}

header{
    background: linear-gradient(to bottom, #C63D0F 70%, transparent 30%);
    overflow: hidden;
    text-align:center;
    padding: 0;
    margin-bottom: 0px;
    position: relative;
    padding-bottom: 10px;
}

#footer{
    position:relative;
    overflow: hidden;
    text-align: left;
}

.wrap{
    position: relative;
    vertical-align: top;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    background: #3E3E3E;
    color: #fff;
    font: 900 14px/26px Arial, serif;
    text-transform: capitalize;
}

.left{
    float:left;
    width: 33%;
}

.right{
    float: right;
    width: 33%;
}

.centered{
    overflow: hidden;
}
