<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <!-- always put your name in your work -->
        <meta name="author" content="Jason Akers">
        
        <!-- stop the web browser from ever caching this page or its images -->
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        
        <!-- libraries neded for this page -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
        
        <!-- support for this page -->
        <script src="reference.js" async></script>
        <title>Let's Make a Project</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id = "app">
            <header>
                <img id = "userPic" :src = "currentUser.photo" alt ="Invalid" width = 75>
                <br>
                <h3>Current User: {{ currentUser.name }}</h3>
                <h3>Current Email: {{ currentUser.email }}</h3>
            </header>
            <div id = "colorControl">
                <p> Input a new background color:
                    <input class="change-background" type="color" v-model="color">
                    <button id="new-color" class="color-button" type="button" @click="backgroundColor()">Change Color</button>
                </p>
                <p>OR Input a new background image:
                    <input class="change-background" placeholder="Background Image" v-model="image">
                    <button id="new-color" class="color-button" type="button" @click="backgroundIm()">Change Background Image</button>
                </p>
            </div>
            <br>
            <div id = "userControl">
                <div id = "newUserControl" v-if="!currentUser.signedIn">
                    <input class="add-new-user" placeholder="New Username" v-model="newuser">
                    <input class="add-new-user-email" placeholder="New Email" v-model="newemail">
                    <input class="add-new-user-pic" placeholder="New Profile Pic" v-model="newpic">
                    <button id="new-user" class="user-button" type="button" @click="newUser()">Sign Up</button>
                </div>
                <div id = "SignIn" v-if="!currentUser.signedIn">
                    <input class="sign-in" placeholder="Sign In w/ Username" v-model="signinUser">
                    <button id="old-user" class="old-user-button" type="button" @click="signIn()">Sign In</button>
                </div>
                <div id = "SignIn" v-if="!currentUser.signedIn">
                    <input class="sign-in" placeholder="Sign In w/ Email" v-model="signinEmail">
                    <button id="old-user" class="old-user-button" type="button" @click="signInEmail()">Sign In</button>
                </div>
                <div id = "SignOut" v-if="currentUser.signedIn">
                    <button id="sign-out" class="sign-out" type="button" @click="signOut()">Sign Out</button>
                </div>
                <br>
                <div id = "changeUsername" v-if="currentUser.signedIn">
                    <input class="change-username" placeholder="Update Username" v-model="changeUsername">
                    <button id="change-user" class="change" type="button" @click="updateUsername()">Change Username</button>
                </div>
                <div id = "changeEmail" v-if="currentUser.signedIn">
                    <input class="change-username" placeholder="Update Email" v-model="changeEmail">
                    <button id="change-user" class="change" type="button" @click="updateEmail()">Change Email</button>
                </div>
                <br>
            </div>
            <div id = "ListControl">
                <input class="add-new-item" placeholder="New List" v-model="newitem">
                <button id="new-item" class="item-button" type="button" @click="newItem()">Add List</button>
                <br>
                <input class="new-category" placeholder="New Category Name" v-model="newCateg">
                <input class="new-category" type="color" v-model="catColor">
                <button id="new-category" class="item-button" type="button" @click="newCategory()">Add Category</button>
            </div>
            <div id ="lists">
                <ul>
                    <li v-for="item in items">
                            {{item.title}}
                            <button class="destroy" @click="removeItem(item)">Destroy List</button>
                            <button id="hideList" class="list-button" type="button" @click="hideList(item)" v-if="item.visibility">Hide List</button>
                            <button id="expandList" class="list-button" type="button" @click="expandList(item)" v-if="!item.visibility">Expand List</button>
                            <p>Add a new card:</p>
                            <input class="add-new-card" placeholder="New Card Name" v-model="neWcard" v-if="item.visibility">
                            <input class="add-new-card-desc" placeholder="New Card Desc" v-model="neWcardDesc" v-if="item.visibility">
                            <input class="add-new-card-date" id="datefield" type="date" placeholder="New Card DueDate" v-model="neWcardDueDate" v-if="item.visibility">
                            <button id="new-card" class="list-button" type="button" @click="newcard(item)" v-if="item.visibility">Add Card</button>
                            <!-- <button id="order-by-due-date" class="list-button" type="button" @click="orderDue(item)" v-if="item.visibility">Order By Due Date</button> -->
                            <ul v-if = "item.visibility">
                                <br>
                                <li v-for="card in item.cards">{{card.task}}
                                    <button class="old-card-destroy" @click="removeCard(item,card)">Destroy Card</button>
                                    <button class="old-card-hide" @click="hideCard(item,card)" v-if="card.visibility">Hide</button>
                                    <button class="old-card-expand" @click="expandCard(item,card)" v-if="!card.visibility">Expand</button>
                                    <div class = item.id id = card.task v-if="card.visibility">
                                        
                                        <p>Category: {{card.cat}}</p>
                                        <p>Description: {{card.desc}}</p>
                                        <p>Created: {{card.date}}</p>
                                        <p>Due Date: {{card.dueDate}} <input class="update-card-date" id="datef" type="date" placeholder="Update Due Date" v-model="updDueDate"><button class="Update-Due-Date" @click="updateDue(item,card)">Update Due Date</button></p>
                                        <p>Days Until Due: {{card.diffDays}}</p>
                                    </div>
                                </li>
                            <br>
                        </ul>
                    </li>
                    <br>
                </ul>
            </div> 
        </div>
        <footer id = "footer">
        <div class="wrap">
            <div class="left">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />This work is licensed under a <br><a class="three" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
            </div>
            <div class="center">Email: <br> JDA32@DUKE.EDU</div>
        </div>
    </footer>
    </body>
</html>