[v-cloak] { display: none; }

#cardPic{
    width:10%;
    height: 10%;
}

.cardDiv{
    border: 5px solid black;
    width: 50%;
}



.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}
.todo-list li:last-child {
    border-bottom: none;
}
.todo-list li:hover{
    background-color: #D3D3D3;
}

.todo-list li .delete-task{
    transition-duration: 0.2s;
    color: red;
    background-color: black;
    border: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto 0;
    font-size: 15px;
    text-align: center;
}
.todo-list li .delete-task:hover{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
}


